<div id="disqus_thread"></div>

<script>
  /* Load Disqus; executed after user confirmation. */
  function loadDisqus() {
    // Remove user confirmation stuff.
    document.getElementById('disqus_thread').innerHTML = "";
    
    /* Config cf https://disqus.com/admin/universalcode/#configuration-variables */
    var disqus_config = function () {
      this.page.url = "{{ site.url }}{{ page.url }}";
      this.page.identifier = "{{ page.id }}";
      this.page.title = '{{ page.title | replace: "'", "\\'"}}';
    };

    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//{{ site.disqus.shortname }}.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
  }
  
  
  /* Create a note that allows the user to turn on comments. */
  document.getElementById('disqus_thread').innerHTML = "<p id=\"noscript-note\">" +
    "Please confirm: <a onclick=\"loadDisqus()\">activate comments!</a>" +
    "<br>" +
    "<em>Note:</em> Loads third-party scripts by " +
      "<a href=\"https://disqus.com/?ref_noscript\" rel=\"nofollow\">" +
        "Disqus" +
      "</a>;" +
    " allow <tt>disqus.com</tt> and <tt>disquscdn.com</tt>." +
    "</p>";
</script>
<noscript>
  <p id="noscript-note">
    In order to read or post 
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">
      comments powered by Disqus</a>, 
    please enable Javascript in your browser and configure any 
    script-blocking software you use to allow scripts from <tt>{{ site.url }}</tt>.
  </p>
</noscript> 
